
<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>

<script>
{% include scripts/getCgiParameters.js %}
{% include_relative notation-highlighting.js %}
</script>

<script>
// Initializations for the work page.
// vim: ts=3:nowrap:ft=javascript

document.body.classList.add("wait");  // display a wait cursor while preparing page

// First load metadata for 1520's project (from _include/metadata directory):
let DATA1520 = {}; // global object to store information about work. Type "DATA1520" on the console to view.
DATA1520.metadata                 = {};
DATA1520.metadata.works           = {% include metadata/works.json %};
DATA1520.metadata.composers       = {% include metadata/composers.json %};
DATA1520.metadata.modern_editions = {% include metadata/modern_editions.json %};
DATA1520.lookup                   = {};
DATA1520.filter                   = "";
DATA1520.timemap                  = [];  // Mapping between notes in SVG and timeline for audio
DATA1520.dataurl                  = "{{site.the1520sProject_data_url}}";
DATA1520.audio                    = null; // HTML5 audio element (see initializeAudio() function);
DATA1520.INITIALIZED = false;  // for notation display setup
DATA1520.hnp_options = {
	source: "my-score",
	spacingLinear: 0.4,
	spacingNonLinear: 0.45,
	humType: 1,                 // Needed for extracting note timings from SVG image.
	spacingSystem: 10,
	mnumInterval: 5,
	autoResize: "true",
};
DATA1520.cgi = getCgiParameters();
DATA1520.workid = DATA1520.cgi.id || "Jac2001";


// Mensuration signs for display
const mensurationSigns = {
  "Cut-O 3 over 2": "Cut-O-3-over-2.svg",
  "3": "3.svg",
  "C": "C.svg",
  "C2": "C2.svg",
  "Cut-C": "Cut-C.svg",
  "Cut-C over 3": "Cut-C-over-3.svg",
  "Cut-C3": "Cut-C3.svg",
  "Cut-O": "Cut-O.svg",
  "Cut-O over 3": "Cut-O-over-3.svg",
  "Cut-O3": "Cut-O3.svg",
  "O over 3": "O-over-3.svg",
  "C over 2": "C-over-2.svg",
  "O": "O.svg",
  "O2": "O2.svg",
  "O3": "O3.svg",
  "reverse C": "Reverse-C.svg",
  "reverse Cut-C": "Reverse-Cut-C.svg"
};

//////////////////////////////
//
// DOMContentLoaded event -- Run the following function when the webpage
//     has finished loading.  This function extracts the "id" parameter
//     from the URL which specifies which score to display.  If no id
//     is found, Jac2001 will be used as a default ID.
//

document.addEventListener("DOMContentLoaded", function (event) {
	initializeAccidentalStateButton();

	// Create lookup tables for metadata:
	DATA1520.lookup.works           = createLookup(DATA1520.metadata.works);
	DATA1520.lookup.composers       = createLookup(DATA1520.metadata.composers);
	DATA1520.lookup.modern_editions = createLookup(DATA1520.metadata.modern_editions);

	displayWork(DATA1520.workid);
	initializeAudio(DATA1520.workid);
});



//////////////////////////////
//
// Event listener to change title for Google Analytics -- Changes title
//     to make allow the specific works seen to be tracked via id
//     
//

document.addEventListener("DOMContentLoaded", function () {
    let id = DATA1520.cgi.id || "Jac2001";

    // 1. Update the <title>
    document.title = `${id} | The 1520s Project`;

});


//////////////////////////////
//
// toggleAnalysisDisplay -- Show or hide analysis plots.
//

document.addEventListener("click", function(event) {
	let target = event.target;
	if (!target.classList.contains("analysis-toggle")) {
		return;
	}
	let analysisType = target.id;

	if (event.target.classList.contains("analysis-toggle")) {
		if (event.target.classList.contains("active")) {
			event.target.classList.remove("active");
		} else {
			event.target.classList.add("active");
		}
	}
	if (!analysisType) {
		console.warn("Analysis element ID was not given");
		return;
	}
	let ext = target.dataset.ext;
	if (!ext) {
		console.warn("File extension was not given.");
		return;
	}
	let container = document.querySelector(`#${analysisType}-display`);
	if (!container) {
		console.warn("No analysis container", `#${analysisType}-display`);
		return;
	}
	let contents = container.innerHTML;
	let empty = contents.length ? false : true;
	if (empty) {
		downloadData(container, analysisType, ext);
	}
	if (container.classList.contains("hidden")) {
		container.classList.remove("hidden");
	} else {
		container.classList.add("hidden");
	}
});



//////////////////////////////
//
// click event listener -- Event delegate listener for starting playback at a certain note.
//

window.addEventListener("click", function(event) {
	let target = event.target;
	let noteElement = null;

	// Find the g.note element that was clicked on.  This may not be
	// the actual element that was clicked on, but rather it could
	// be a parent element, so search the ancestors of the clicked
	// element to find g.note.  The ID of the note will start "note-".
	if (target && target.id && target.id.match(/^note-/)) {
		noteElement = target;
	} else {
		while ((!noteElement) && target) {
			target = target.parentNode;
			if (!target) {
				break;
			}
			if (target && target.id && target.id.match(/^note-/)) {
				noteElement = target;
				break;
			}
		}
	}
	if (!noteElement) {
		// Did not click on a note (or in the SVG), so give up.
		return;
	}

	// Get the start time of the note (quarter notes from begiining of score):
	let matches;
	let ques = 0;
	if (matches = noteElement.className.baseVal.match(/qon-([^\s]+)/)) {
		ques = getQstampFloat(matches[1]);
	} else {
		return;
	}

	// Find the time in seconds for the note from the timemap:
	let tstamp = -1;
	let qstamp = -1;
	let timemap = DATA1520.timemap;
	if (!timemap) {
		console.warn("Warning: cannot find timemap for highligting notation during playback.");
		return;
	}
	for (let i=0; i<timemap.length; i++) {
		if (Math.abs(timemap[i].qstamp - ques) < 0.01) {
			tstamp = timemap[i].tstamp;
			qstamp = timemap[i].qstamp;
			break;
		}
	}
	if (tstamp < 0) {
		return;
	}

	console.log("TSTAMP", tstamp, "QSTAMP", qstamp);

	let audio = DATA1520.audio;
	console.warn("CURRENT TIME", audio.currentTime);
	let adjustment = 0;
	if (audio.paused) {
		unhighlightAllNotesInSvg();
		audio.play();
		audio.currentTime = tstamp - adjustment;
	} else {
		unhighlightAllNotesInSvg();
		try {
			audio.currentTime = tstamp - adjustment;
		} catch (error) {
			console.error("Error:", error);
		}
	}
});



//////////////////////////////
//
// initializeAudio -- Prepare audio for the current work.
//

function initializeAudio(id) {
	DATA1520.audio = document.querySelector("audio#audio");
	let audio = DATA1520.audio;

	if (!audio) {
		console.error("Error: Cannot find audio#audio on webpage.");
		return;
	}

	// audio.innerHTML = `<source src="${DATA1520.dataurl}/${DATA1520.workid}.mp3" type="audio/mpeg" preload="metadata" />`;
	// Set the audio infomation explicitly:
	let audioUrl = `${DATA1520.dataurl}/${DATA1520.workid}.mp3`;
	audio.preload = "auto";
	audio.src = audioUrl;
	audio.load();

	audio.addEventListener('loadedmetadata', function() {
		console.log("Metadata for audio loaded. Duration:", audio.duration);
		console.log("Audio readyState:", audio.readyState);
		console.log("Audio seekable length: ", audio.seekable.length);
		console.log('Audio source:', audio.src);
		printSeekableAudioInfo();
	});


	audio.addEventListener('progress', function() {
		// printSeekableAudioInfo();
	});


	audio.addEventListener('canplay', function() {
		// console.log("Audio can play.");
		// printSeekableAudioInfo();
	});


	audio.addEventListener('canplaythrough', function() {
		// console.log("Audio can play through.");
		// printSeekableAudioInfo();
	});


	audio.addEventListener('error', function() {
		console.error(`Error loading the audio file ${audioUrl}`);
	});


	audio.addEventListener('loadeddata', function() {
		console.log(`Audio data loaded: ${audioUrl}`);
	});

	audio.addEventListener('stalled', function() {
		console.warn("Audio loading stalled, reloading...");
		audio.load();  // Force a reload if loading stalls
	});

	audio.addEventListener('waiting', function() {
		console.warn("Audio is waiting for data, might not be seekable...");
	});

	audio.addEventListener("play", playAudioCallback);
	audio.addEventListener("playing", playAudioCallback);
	audio.addEventListener("pause", pauseAudioCallback);


	let url = `${DATA1520.dataurl}/${DATA1520.workid}-timemap.json`;
	console.warn("TIMEMAP URL", url);
	fetch(url)
	.then(response => {
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json();
	})
	.then(data => {
		DATA1520.timemap = data;
		console.warn("TIMEMAP", DATA1520.timemap);
	})
	.catch(error => {
		console.error('There was a problem with the fetch operation:', error);
	});

}



//////////////////////////////
//
// keydown event listener -- For keyboard shortcuts.
//

document.addEventListener('keydown', function(event) {
    if (event.code === 'Space' || event.keyCode === 32) {
        event.preventDefault();
        togglePlayPauseOfAudio();
    }
});



</script>



