<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>

<script>
// vim: ts=3:nowrap
// Initializations for the work page.

document.body.classList.add("wait");

// First load metadata for 1520's project (from _include/metadata directory):
let DATA1520 = {};
DATA1520.metadata = {};
DATA1520.metadata.works = {% include metadata/works.json %};
DATA1520.metadata.composers = {% include metadata/composers.json %};
DATA1520.metadata.modern_editions = {% include metadata/modern_editions.json %};
DATA1520.lookup = {};
DATA1520.workid = "";
DATA1520.filter = "";

// Humdrum Notation Plugin options:
let INITIALIZED = false;
let HNP_OPTIONS = {
	source: "my-score",
	spacingLinear: 0.4,
	spacingNonLinear: 0.45,
	humType: 1,
	spacingSystem: 10,
	mnumInterval: 5,
	autoResize: "true",
};

//global variables for audio
let AUDIO         = null; // HTML5 audio interface ID.
let AUDIO1520sid  = '';   // currently playing audio file.
let AUDIOid       = '';   // currently playing audio button.
let ID1520s       = '';   // work ID
let ID = DATA1520.workid; // redundant?
let URL_BASE = "https://data.1520s-project.org";


//////////////////////////////
//
// DOMContentLoaded event -- Run the following function when the webpage
//     has finished loading.  This function extracts the "id" parameter
//     from the URL which specifies which score to display.
//

document.addEventListener("DOMContentLoaded", function (event) {
	initializeAccidentalStateButton();

	// Create lookup tables for metadata:
	DATA1520.lookup.works = createLookup(DATA1520.metadata.works);
	DATA1520.lookup.composers = createLookup(DATA1520.metadata.composers);
	DATA1520.lookup.modern_editions = createLookup(DATA1520.metadata.modern_editions);

	// Get the work ID that should be displayed.  Example URL:
	//     www.1520s-project.org/work?id=Jac2001
	// The ID is "Jac2001".
	let cgi = getCgiParameters(); 
	DATA1520.workid = cgi.id;
	if (cgi.filter) {
		DATA1520.filter = cgi.filter;
	}
	if (!DATA1520.workid) {
		// display this score if none specified in the URL.
		// Or an error could be displayed if there is no ID
		// or the ID is invalid.
		DATA1520.workid = "Jac2001";
	}
	console.warn("WORK ID", DATA1520.workid);
	displayWork(DATA1520.workid);
	ID1520s = DATA1520.workid;
	getTimemap(ID1520s);

});



//////////////////////////////
//
// removeWait -- Callback function for stopping the spinning
//    cursor (after notation is displayed).
//

function removeWait() {
	document.body.classList.remove("wait");
}


//////////////////////////////
//
// toggleAnalysisDisplay
// 
//

document.addEventListener("click", function(event) {
	let target = event.target;
	if (!target.classList.contains("analysis-toggle")) {
		return;
	}
	let analysisId = target.id;
	if (event.target.classList.contains("analysis-toggle")) {
		if (event.target.classList.contains("active")) {
			event.target.classList.remove("active");
		} else {
			event.target.classList.add("active");
		}
	}
	if (!analysisId) {
		console.warn("Analysis ID is not given");
		return;
	}
	let ext = target.dataset.ext;
	if (!ext) {
		console.warn("File extension is not given.");
		return;
	}
	let container = document.querySelector(`#${analysisId}-display`);
	if (!container) {
		console.warn("No analysis container", `#${analysisId}-display`);
		return;
	}
	let contents = container.innerHTML;
	let empty = contents.length ? false : true;
	if (empty) {
		// need to download data
		downloadData(container, analysisId, ext, ID);
	}
	if (container.classList.contains("hidden")) {
		container.classList.remove("hidden");
	} else {
		container.classList.add("hidden");
	}
});


//////////////////////////////
//
// click event listener -- event delegate listener for starting playback at a certain note.
// 
//

window.addEventListener("click", function(event) {
	let target = event.target;
	target = target.parentNode;
	let note = null;
	if (target && target.id && target.id.match(/^note-/)) {
		note = target;
	} else {
		while ((!note) && target) {
			target = target.parentNode;
			if (!target) {
				break;
			}
			if (target && target.id && target.id.match(/^note-/)) {
				note = target;
				break;
			}
		}
	}
	if (!note) {
		// console.log("Not a note");
		return;
	}
	let matches;
	let ques = 0;
	if (matches = note.className.baseVal.match(/qon-([^\s]+)/)) {
		ques = getQstampFloat(matches[1]);
	} else {
		return;
	}
	let timemap = TIMEMAP[ID1520s];
	// console.warn("timemap", timemap);
	if (!timemap) {
		return;
	}
	let i;
	let tstamp = -1;
	let qstamp = -1;
	for (i=0; i<timemap.length; i++) {
		if (Math.abs(timemap[i].qstamp - ques) < 0.01) {
			tstamp = timemap[i].tstamp;
			qstamp = timemap[i].qstamp;
		}
	}
	if (tstamp < 0) {
		return;
	}

	let anticipation = 0.0;
	if (!AUDIO) {
		TurnOffAllNotes();
		let element = document.querySelector("audio");
		PlayAudioFile(ID, element, tstamp - anticipation);
	} else if (AUDIO.paused) {
		TurnOffAllNotes();
		AUDIO.currentTime = tstamp - anticipation;
		PlayAudioFile(ID, element, tstamp - anticipation);
	} else {
		AUDIO.pause();
		TurnOffAllNotes();
		AUDIO.currentTime = tstamp - anticipation;
		AUDIO.play();
	}
});


</script>



