<script>
// vim: ts=3:nowrap

let COMPOSERS             = {% include metadata/composers.json %}
let METADATA              = {% include metadata/works.json %};
let INDEX_id         	  = "ID";
let INDEX_composer    	  = "Composer";
let INDEX_title       	  = "Title";
let INDEX_genre      	  = "Genre";
let INDEX_voice      	  = "Voices";
let INDEX_text            = "Texted";
let INDEX_firstsourcedate = "First Source Date";
let INDEX_firstsource 	  = "First Source";
let INDEX_RISMlink 	     = "RISM Source Link";
let INDEX_DIAMMlink	     = "DIAMM source link";



//////////////////////////////
//
// DOMContentLoaded event handler -- Runs after webpage finishes loading.
//     Builds the select menus from the METADATA object and displays the
//     browse table.
//

document.addEventListener("DOMContentLoaded", function () {
	buildSearchInterface(METADATA, "#search-interface");
	displayBrowseTable(METADATA, "#list");
	let cgi = getCgiParameters();
	let runSearch = false;

	// Set the composer select menu:
	if (cgi.c) {
		setComposerSelectMenu(cgi.c);
		runSearch = true;
	} else if (cgi.composer) {
		setComposerSelectMenu(cgi.composer);
		runSearch = true;
	}

	// Set the voice-count select menu:
	if (cgi.v) {
		setVoiceSelectMenu(cgi.v);
		runSearch = true;
	} else if (cgi.voice) {
		setVoiceSelectMenu(cgi.voice);
		runSearch = true;
	} else if (cgi.voice) {
		setVoiceSelectMenu(cgi.voices);
		runSearch = true;
	}

	// Set the text-available select menu:
	if (cgi.x) {
		setTextAvailableSelectMenu(cgi.x);
		runSearch = true;
	} else if (cgi.text) {
		setTextAvailableSelectMenu(cgi.text);
		runSearch = true;
	}

	// Set the genre select menu:
	if (cgi.g) {
		setGenreSelectMenu(cgi.g);
		runSearch = true;
	} else if (cgi.genre) {
		setGenreSelectMenu(cgi.genre);
		runSearch = true;
	}

	// Set the year select menu:
	if (cgi.y) {
		setYearSelectMenu(cgi.y);
		runSearch = true;
	} else if (cgi.genre) {
		setYearSelectMenu(cgi.year);
		runSearch = true;
	}

	// Set the earliest source select menu:
	if (cgi.e) {
		setEarliestSourceSelectMenu(cgi.e);
		runSearch = true;
	} else if (cgi.earliest) {
		setEarliestSourceSelectMenu(cgi.earliest);
		runSearch = true;
	} else if (cgi.s) {
		setEarliestSourceSelectMenu(cgi.s);
		runSearch = true;
	} else if (cgi.source) {
		setEarliestSourceSelectMenu(cgi.source);
		runSearch = true;
	}

	// Run a search based on the select menu settings:
	if (runSearch) {
		doSearch();
	}

	// Check for a free-text search to run on the search-results table:
	if (cgi.q) {
		FreeTextSearch(cgi.q);
	} else if (cgi.query) {
		FreeTextSearch(cgi.query);
	} else if (cgi.search) {
		FreeTextSearch(cgi.search);
	}

	// Move the cursor to the search box when the page is loaded:
	let searchElement = document.querySelector("#input");
	if (searchElement) {
		searchElement.focus();
	}

});


</script>



